.comment-section {
    display: flex;
    flex-direction: column;
}

.comment {
    position: relative;
    display: flex;
    padding: 5px;
}

.comment-user-name {
    font-weight: bold;
    padding-right: 10px;
}

.comment-content {
    list-style-type: none;
}

.timestamp {
    color: silver;
    padding: 10px;
}

.add-comment {
    width: 100%;
    height: 75px;
    border: none;
}

.delete-comment {
    position: absolute;
    right: 1rem;
    color: red;
}

hr {
    color: silver;
    width: 100%;
}